name: release(beta)

on:
  push:
    tags:
      - '*-beta.*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          registry-url: https://registry.npmjs.org/

      - name: Setup pnpm
        run: corepack enable

      - name: Install dependencies
        run: pnpm install

      - name: Test
        run: pnpm run test

      - name: Publish
        run: |
          pnpm publish --tag beta
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
