name: release

on:
  push:
    tags-ignore:
      - '*-beta.*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 6.32.10

      - name: Install dependencies
        run: pnpm install

      - name: Test
        run: pnpm test

      - name: Compile
        run: pnpm build

      - uses: JS-DevTools/npm-publish@v2
        with:
          token: ${{ secrets.NPM_TOKEN }}
