name: Test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Setup pnpm
        run: corepack enable
      - name: Deps
        run: pnpm install
      - name: Test
        run: pnpm run test:ci
